<div class="vg-footer">
    <h1 class="text-center">Code & Coffee</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 py-3">
                <div class="footer-section">
                    <h5>Where to find me</h5>
                    <hr class="divider">
                    <p class="fs-large fg-white">Rue Orange Bardo, Tunis, Tunisia</p>
                </div>
            </div>
            <div class="col-lg-4 py-3">
                <div class="footer-section">
                    <h5>Connect with me</h5>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li><a href="https://www.linkedin.com/in/mastourmontassar"target="_blank">Linkedin</a></li>
                        <li><a href="https://www.fr.freelancer.com/u/montassarm"target="_blank">Freelance</a></li>
                        <li><a href="https://www.facebook.com/mastourmontassar"target="_blank">Facebook</a></li>
                        <li><a href="https://www.instagram.com/montassar_mastour"target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 py-3">
                <div class="footer-section">
                    <h5>Contact me</h5>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li>mastourmontassar&#64;gmail.com</li>
                        <li>+216 57 215 416</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 mb-3">
                <h3 class="fw-normal text-center">Subscribe</h3>
            </div>
            <div class="col-lg-6">
                <form class="mb-3" action="https://formspree.io/f/mvgkyoer" method="POST" onsubmit="clearForm(this)">
                    <div class="input-group">
                        <input type="text" class="form-control" name="mail" placeholder="Email address" required>
                        <input type="submit" class="btn btn-theme no-shadow" value="Subscribe">
                    </div>
                </form>
            </div>
            <div class="col-12">
              <p class="text-center mb-0 mt-4">Copyright &copy;2020. All right reserved | This template is made with <span class="ti-heart fg-theme-red"></span> by <a href="https://www.macodeid.com/">MACode ID</a></p>
            </div>
        </div>
    </div>
</div>