<div class="vg-page page-about" id="about">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4 py-3">
        <div class="img-place wow fadeInUp mb-4 mb-lg-0">
          <source srcset="assets/img/person.webp" type="image/webp">
          <img src="assets/img/person.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 wow fadeInRight">
        <h1 class="fw-light mt-3 mt-lg-0">Montassar Mastour</h1>
        <h5 class="fg-theme mb-3">Data Scientist & XR Developer</h5>
        <p class="text-muted">Data Scientist with a strong vision and dream, I am passionate about leveraging data to drive insights and innovation. As a leader and activist in various organizations and clubs, I actively contribute to causes I believe in. I strongly believe in the power of continuous learning and personal growth, investing in my own training to stay ahead in this dynamic field. With a proven track record in data analysis, statistical modeling, and machine learning, I have applied my skills across industries, optimizing processes and driving positive change. Let's connect and explore how we can collaborate to make a difference.</p>
        <ul class="theme-list">
          <li><b>From:</b> Kairouan, Tunisia</li>
          <li><b>Lives In:</b> Tunis, Tunisia</li>
          <li><b>Age:</b> 24</li>
          <li><b>Gender:</b> Male</li>
        </ul>
        <a href="assets/CV.pdf" download class="btn btn-theme-outline">Download CV</a>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <h1 class="text-center fw-normal wow fadeIn">My Skills</h1>
    <div class="row py-3">
      
      <!-- Data Science Skills Section -->
      <div class="col-md-6">
        <div class="px-lg-3">
          <h4 class="wow fadeInUp">AI/ML & Data Science Skill</h4>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Python Programming</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
          </div>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Machine Learning (Supervised & Unsupervised)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
          </div>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Deep Learning (PyTorch, TensorFlow)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
          </div>
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Data Analysis & Visualization (Pandas, NumPy, Matplotlib..)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
          </div>

          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Generative AI & LLMs</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">NLP Techniques (Tokenization, Embeddings, RAG)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Computer Vision (CNN, GCN)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
          </div>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">MLOps (Model Deployment, Monitoring)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
          </div>


  
        </div>
      </div>
      
      <!-- XR Development Skills Section -->
      <div class="col-md-6">
        <div class="px-lg-3">
          <h4 class="wow fadeInUp">Software & XR Development Skills</h4>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">C# Programming</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
          </div>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Unity3D Development</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
          </div>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">VR/AR Integration</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Mobile Development(Flutter, Java)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
  

  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Web Development(Angular, Dotnet)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
          </div>
  
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Git (Github,Bitbucket)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>

          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">SQL & NoSQL Databases</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="progress-wrapper wow fadeInUp">
            <span class="caption">Cloud Platforms (GCP, Oracle, AWS)</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 wow fadeInRight">
        <h2 class="fw-normal">Education</h2>
        <ul class="timeline mt-4 pr-md-5">
          <li>
            <div class="title">09/22 - 11/24</div>
            <div class="details">
              <h5>Master Degree in Data science</h5>
              <small class="fg-theme">Higher Institute of Multimedia Arts of Manouba</small>
              <p>
                *Machine Learning
                *Deep Learning
                *Probability
                *Statistics
                *Linear Regression
                *Big Data
                *Jupyter
                *Research Skill</p>
            </div>
          </li>
          <li>
            <div class="title">09/19 - 06/22</div>
            <div class="details">
              <h5>Bachelor Degree in Computer Science</h5>
              <small class="fg-theme">Higher Institute of Computer Science and Management of Kairouan</small>
              <p>
                *Java
                *PHP
                *NoSQL
                *Unified Modeling Language (UML)
                *.NET Core
                *.NET Framework
                *ASP.NET
                *ASP.NET MVC
                *ASP.NET Web API
                *Angular
                *Docker
                *Linux</p>
            </div>
          </li>
          <li>
            <div class="title">19</div>
            <div class="details">
              <h5>High School degree in Computer Science</h5>
              <small class="fg-theme">Sbikha Secondary School 1997</small>
              <p>*Algorithms *Pascal *HTML *CSS *JavaScript *PHP *MySQL</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
        <h2 class="fw-normal">Experience</h2>
        <ul class="timeline mt-4 pr-md-5">
          <li>
            <div class="title">02/24 - 11/24</div>
            <div class="details">
              <h5>Data Scientist Researcher</h5>
              <small class="fg-theme">Laboratoire RIADI</small>
              <p>
                *Machine Learning
                *Deep Learning
                *Feature Extraction
                *Image Processing
                *Graph Convolutional Networks (GCN)
                *Convolutional Neural Networks (CNN)</p>
            </div>
          </li>
          <li>
            <div class="title">02/24 - 07/24</div>
            <div class="details">
              <h5>Virtual Reality Developer / Co-Founder</h5>
              <small class="fg-theme">Epic Valor X</small>
              <p>*C# *Unity *Virtual Reality(VR) 
                </p>
            </div>
          </li>
          <li>
            <div class="title">02/22 - 06/22</div>
            <div class="details">
              <h5>Mobile Developer Intern</h5>
              <small class="fg-theme">CompiTechnology</small>
              <p>*PHP
                *Dart
                *Flutter
                *SQL
                *NoSQL
                *Unified Modeling Language (UML)
                *Git
                *Bitbucket
                *cPanel
                *LaTeX
                *Microsoft Visual Studio Code</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="vg-page page-service">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <div class="badge badge-subhead">Service</div>
    </div>
    <h1 class="fw-normal text-center wow fadeInUp">What can i do?</h1>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card card-service wow fadeInUp">
          <div class="icon">
            <span class="ti-search"></span>
          </div>
          <div class="caption">
            <h4 class="fg-theme">XR Development (VR, AR)</h4>
            <p>Creating immersive VR and AR experiences with Unity3D and C# with Integrating interaction design for various XR devices like Oculus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card card-service wow fadeInUp">
          <div class="icon">
            <span class="ti-paint-bucket"></span>
          </div>
          <div class="caption">
            <h4 class="fg-theme">Data-Driven Solutions</h4>
            <p>Leveraging machine learning, deep learning, and data visualization to help businesses make informed, data-backed decisions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card card-service wow fadeInUp">
          <div class="icon">
            <span class="ti-vector"></span>
          </div>
          <div class="caption">
            <h4 class="fg-theme">Custom AI and Computer Vision Solutions</h4>
            <p>Building AI models and computer vision systems for image recognition, object detection, and automated data extraction.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card card-service wow fadeInUp">
          <div class="icon">
            <span class="ti-desktop"></span>
          </div>
          <div class="caption">
            <h4 class="fg-theme">Cloud Solutions and Data Engineering</h4>
            <p>Designing and deploying scalable cloud-based applications using platforms like Google Cloud and Oracle Cloud.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>