<div class="vg-page page-portfolio" id="portfolio">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <div class="gridder0"> 
      <div class="badge badge-subhead">Portfolio</div>
    </div>
    </div>

  </div>
  <div class="gridder0"> 
    <h1 class="text-center fw-normal wow fadeInUp">Article Publication</h1>
    </div>
    <div class="gridder0 wow fadeInUp"> 
  <section id="featured-article">
    
    <div class="container">
      <div class="article-card">
        <!-- Article Image -->
        <img src="assets/img/article.png" alt="Preview of the article" class="article-image">
  
        <!-- Article Content -->
        <div class="article-content">
          <h2 class="article-title">Bag-of-Visual-Words Feature Extraction using Graph Convolutional Networks</h2>
          <p class="article-date"> 
            Published on: <time datetime="2024-08-23">July 12, 2024</time>
          </p>
          <p class="article-description">
            This paper presents a novel deep learning framework tailored for remote sensing image analysis, overcoming the inherent limitations of traditional Bag-of-Visual-Words approaches. By integrating a Convolutional Neural Network (CNN) with a Graph Convolutional Network (GCN), the method first leverages the CNN to extract high-level spatial features and capture prominent visual patterns in remote sensing images. These features are then processed through the GCN, which learns complex spectral-spatial relationships by operating over a graph constructed from the image data. This hybrid architecture not only refines feature extraction by combining spatial layouts with intricate spectral details but also enhances performance in tasks such as image retrieval and classification.
          </p>
          <a href="https://ieeexplore.ieee.org/document/10639013" class="btn btn-theme-outline"target="_blank">Read More</a>
        </div>
      </div>
    </div>
  
  </section>
</div>

  <div class="container">
    <h1 class="text-center fw-normal wow fadeInUp">See my Certifications</h1>
    <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
      
      <button class="btn btn-custom-filter selected" data-filter="*">All</button> 
      <button class="btn btn-custom-filter" data-filter=".andr">IA</button> 
      <button class="btn btn-custom-filter" data-filter=".template">XR</button>
      <button class="btn btn-custom-filter" data-filter=".ios">cloud</button>
      <button class="btn btn-custom-filter" data-filter=".ui-ux">Activity</button>
    </div>

    <div class="custom-grid">
      <div class="grid-item apps andr wow zoomIn">
        <div class="img-place" data-src="assets/img/work/cert3.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=kTKfq9JdQVy6rBOMgYAr5w'target='_blank'><h5 class='fg-theme'>Fundamentals of Deep Learning 🔗</h5></a> <p>Nvidia</p>">
          <img src="assets/img/work/cert3.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme"> Fundamentals of Deep Learning </h5> 
            <p>Nvidia</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps andr wow zoomIn">
        <div class="img-place" data-src="assets/img/work/cert7.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=-PhiS9wDQH23mfYlBrRXFg'target='_blank'><h5 class='fg-theme'>Introduction to Transformer-Based NLP 🔗</h5></a> <p>Nvidia</p>">
          <img src="assets/img/work/cert7.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Introduction to Transformer-Based NLP</h5>
            <p>Nvidia</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps andr wow zoomIn">
        <div class="img-place" data-src="assets/img/work/cert1.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=jjgiAqGUQMib6_zJrM6psA'target='_blank'><h5 class='fg-theme'>Natural Language Processing 🔗</h5></a> <p>Nvidia</p>">
          <img src="assets/img/work/cert1.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Natural Language Processing</h5>
            <p>Nvidia</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps andr wow zoomIn">
        <div class="img-place" data-src="assets/img/work/cert5.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=u0u53FtbTOaySe-41wW0tg'target='_blank'><h5 class='fg-theme'>Generative AI with Diffusion Models 🔗</h5></a> <p>Nvidia</p>">
          <img src="assets/img/work/cert5.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Generative AI with Diffusion Models</h5>
            <p>Nvidia</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps andr wow zoomIn">
        <div class="img-place" data-src="assets/img/work/cert8.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=bvkwrjCMT9CA-Hf8Jv-kPg'target='_blank'><h5 class='fg-theme'>Building RAG Agents with LLMs 🔗</h5></a> <p>Nvidia</p>">
          <img src="assets/img/work/cert8.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Building RAG Agents with LLMs</h5>
            <p>Nvidia</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps andr wow zoomIn">
        <div class="img-place" data-src="assets/img/work/cert2.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=ZwNaqKldS8CHPFT03sP3Sg'target='_blank'><h5 class='fg-theme'>Predictive Maintenance 🔗</h5></a> <p>Nvidia</p>">
          <img src="assets/img/work/cert2.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme"> Predictive Maintenance</h5>
            <p>Nvidia</p>
          </div>
        </div>
      </div>



          <div class="grid-item apps andr wow zoomIn">
            <div class="img-place" data-src="assets/img/work/cert9.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=JcooTlBxQI-93mT3dCO_Hg'target='_blank'><h5 class='fg-theme'>Building Real-Time Video AI Applications 🔗</h5></a> <p>Nvidia</p>">
              <img src="assets/img/work/cert9.jpg" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Building Real-Time Video AI Applications</h5>
                <p>Nvidia</p>
              </div>
            </div>
          </div>
            <div class="grid-item apps andr wow zoomIn">
              <div class="img-place" data-src="assets/img/work/cert6.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=G7C2f9L2STW3SUU_BEKE3Q'target='_blank'><h5 class='fg-theme'>Disaster Risk Monitoring Using Satellite Imagery 🔗</h5></a> <p>Nvidia</p>">
                <img src="assets/img/work/cert6.jpg" alt="">
                <div class="img-caption">
                  <h5 class="fg-theme"> Disaster Risk Monitoring Using Satellite Imagery</h5>
                  <p>Nvidia</p>
                </div>
              </div>
            </div>


        <div class="grid-item apps andr wow zoomIn">
          <div class="img-place" data-src="assets/img/work/cert4.jpg" data-fancybox data-caption="<a href='https://learn.nvidia.com/certificates?id=RhVH2FHYSyGBIVPb1O63Sg'target='_blank'><h5 class='fg-theme'>Fundamentals of Accelerated Computing with CUDA Python 🔗</h5></a> <p>Nvidia</p>">
            <img src="assets/img/work/cert4.jpg" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Fundamentals of Accelerated Computing with CUDA Python</h5>
              <p>Nvidia</p>
            </div>
          </div>
        </div>

      <div class="grid-item template wireframes wow zoomIn">
        <div class="img-place" data-src="assets/img/work/xrbootcamp.jpg" data-fancybox data-caption="<a href='https://academy.xrbootcamp.com/certificates/wwuqmcnyjk'target='_blank'><h5 class='fg-theme'>XR Foundation Bootcamp 🔗</h5></a> <p>XR Bootcamp</p>">
          <img src="assets/img/work/xrbootcamp.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">XR Foundation Bootcamp</h5>
            <p>XR Bootcamp</p>
          </div>
        </div>
      </div>
      <div class="grid-item template wireframes wow zoomIn">
        <div class="img-place" data-src="assets/img/work/2.jpg" data-fancybox data-caption="<a href='https://www.coursera.org/account/accomplishments/verify/XSALFCYUDPZM'target='_blank'><h5 class='fg-theme'>Intro to XR 🔗</h5></a> <p>University of Michigan</p>">
          <img src="assets/img/work/2.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Intro to XR</h5>
            <p>University of Michigan</p>
          </div>
        </div>
      </div>
      <div class="grid-item template wireframes wow zoomIn">
        <div class="img-place" data-src="assets/img/work/3.jpg" data-fancybox data-caption="<a href='https://www.coursera.org/account/accomplishments/verify/SJZYQKHYXQYZ'target='_blank'><h5 class='fg-theme'>User Experience and Interactive design for XR 🔗</h5></a> <p>University of Michigan</p>">
          <img src="assets/img/work/3.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">User Experience and Interactive design for XR</h5>
            <p>University of Michigan</p>
          </div>
        </div>
      </div>
      <div class="grid-item template wireframes wow zoomIn">
        <div class="img-place" data-src="assets/img/work/4.jpg" data-fancybox data-caption="<a href='https://www.coursera.org/account/accomplishments/verify/4LRHJWVS9LDS'target='_blank'><h5 class='fg-theme'>Developing in XR 🔗</h5></a> <p>University of Michigan</p>">
          <img src="assets/img/work/4.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Developing in XR</h5>
            <p>University of Michigan</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps ios wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Badges.jpg" data-fancybox data-caption="<a href='https://www.cloudskillsboost.google/public_profiles/d1035e1f-6bcb-49dd-93b0-b7b6610b90d8'target='_blank'><h5 class='fg-theme'>Machine Learning Engineer Learning Path 🔗</h5></a> <p>Google Cloud Skills Boost</p>">
          <img src="assets/img/work/Badges.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Machine Learning Engineer Learning Path</h5>
            <p> Google Cloud Skills Boost</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps ios wow zoomIn">
        <div class="img-place" data-src="assets/img/work/oracle1.jpg" data-fancybox data-caption="<a href='https://catalog-education.oracle.com/ords/certview/sharebadge?id=D6BBE31256A4E89427D591CA0DDD1A0323E06860050F79BFA924D996B5E5FF25'target='_blank'><h5 class='fg-theme'>OCI 2024 Certified Foundations Associate 🔗</h5></a> <p>Oracle</p>">
          <img src="assets/img/work/oracle1.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme"> OCI 2024 Certified Foundations Associate</h5>
            <p>Oracle</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps ios wow zoomIn">
        <div class="img-place" data-src="assets/img/work/oracle2.jpg" data-fancybox data-caption="<a href='https://catalog-education.oracle.com/ords/certview/sharebadge?id=9AE98E06FDCE856D86081430340D19A76E60C708B2E4DFA12F83C95E5E0A68A4'target='_blank'><h5 class='fg-theme'>OCI 2024 Certified AI Foundations Associate 🔗</h5></a><p>Oracle</p>">
          <img src="assets/img/work/oracle2.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">OCI 2024 Certified AI Foundations Associate</h5>
            <p>Oracle</p>
          </div>
        </div>
      </div>
      <div class="grid-item apps ios wow zoomIn">
        <div class="img-place" data-src="assets/img/work/oracle3.jpg" data-fancybox data-caption="<a href='https://catalog-education.oracle.com/ords/certview/sharebadge?id=D6BBE31256A4E89427D591CA0DDD1A03D6F01AB934E17E8EA6B48987B13686AA'target='_blank'><h5 class='fg-theme'>OCI 2024 Data Certified Foundations Associate 🔗</h5></a> <p>Oracle</p>">
          <img src="assets/img/work/oracle3.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">OCI 2024 Data Certified Foundations Associate </h5>
            <p>Oracle</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/IBP.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Innovation Bridge Program</h5> <p>American Corner</p>">
          <img src="assets/img/work/IBP.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Innovation Bridge Program</h5>
            <p>American Corner</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Atia1.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Artificial Intelligence: Base Concept, ethics and privacy Training</h5> <p>Association Tunisienne pour l'Intelligence Artificielle</p>">
          <img src="assets/img/work/Atia1.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Artificial Intelligence: Base Concept, ethics and privacy Training</h5>
            <p>Association Tunisienne pour l'Intelligence Artificielle</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Atia2.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Data Engineering and Artificial Intelligence :Big Data & Cloud Training</h5> <p>Association Tunisienne pour l'Intelligence Artificielle</p>">
          <img src="assets/img/work/Atia2.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Data Engineering and Artificial Intelligence :Big Data & Cloud Training</h5>
            <p>Association Tunisienne pour l'Intelligence Artificielle</p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Atia3.jpg" data-fancybox data-caption="<h5 class='fg-theme'>IEEE AFRO-MEDITERRANERAN CONFERENCE ON ARTIFICIAL INTELLIGENCE 2023 Attendee</h5> <p>Association Tunisienne pour l'Intelligence Artificielle</p>">
          <img src="assets/img/work/Atia3.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">IEEE AFRO-MEDITERRANERAN CONFERENCE ON ARTIFICIAL INTELLIGENCE 2023 Attendee</h5>
            <p>Association Tunisienne pour l'Intelligence Artificielle</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Atast.jpg" data-fancybox data-caption="<h5 class='fg-theme'>TNTC: Artificial Intelligence & Quantum Computer workshop Participation</h5> <p>ATAST Association </p>">
          <img src="assets/img/work/Atast.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">TNTC: AI & Quantum Computer workshop Participation</h5>
            <p>ATAST Association </p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/indus.jpg" data-fancybox data-caption="<h5 class='fg-theme'> The fundamentals of industry 4.0 </h5> <p>Novation City</p>">
          <img src="assets/img/work/indus.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme"> The fundamentals of industry 4.0 Training</h5>
            <p>Novation City</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Atast2.jpg" data-fancybox data-caption="<h5 class='fg-theme'>TNTC: Flutter workshop Participation</h5> <p>ATAST Association </p>">
          <img src="assets/img/work/Atast2.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">TNTC: Flutter workshop Participation</h5>
            <p>ATAST Association </p>
          </div>
        </div>
      </div>
      


      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/imc.jpg" data-fancybox data-caption="<h5 class='fg-theme'>IMC Talk Participation</h5> <p>ISAMM Microsoft Club</p>">
          <img src="assets/img/work/imc.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">IMC Talk Participation</h5>
            <p>ISAMM Microsoft Club</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Brain.jpg" data-fancybox data-caption="<h5 class='fg-theme'> BRAIN Ideation Workshop Participation</h5> <p>Open Startup</p>">
          <img src="assets/img/work/Brain.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">BRAIN Ideation Workshop Participation</h5>
            <p>Open Startup</p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Atast Student Section.jpg" data-fancybox data-caption="<h5 class='fg-theme'> ATAST Student Section National Summit Participation</h5> <p>ATAST</p>">
          <img src="assets/img/work/Atast Student Section.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">ATAST Student Section National Summit Participation</h5>
            <p>ATAST Association</p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Arduino.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Arduino Training Participation</h5> <p>The Changers - مغيرون</p>">
          <img src="assets/img/work/Arduino.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Arduino Training Participation</h5>
            <p>The Changers Organization</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/img50.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Hackathon Organization</h5> <p>MentorNations</p>">
          <img src="assets/img/work/img50.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Hackathon Organization</h5>
            <p>MentorNations</p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Publish.jpg" data-fancybox data-caption="<h5 class='fg-theme'> Step-by-step Guide on How to Prepare a Successful Paper for Publishing in a peer review journal</h5> <p>Springer Nature Group</p>">
          <img src="assets/img/work/Publish.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Prepare a Successful Paper for Publishing</h5>
            <p>Springer Nature Group</p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Open Data Hack_page.jpg" data-fancybox data-caption="<h5 class='fg-theme'> OpenGovDataHack2023 Participation </h5> <p>UAE</p>">
          <img src="assets/img/work/Open Data Hack_page.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme"> OpenGovDataHack2023 Participation </h5>
            <p>UAE</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/img53.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Ideation Hackathon Participation</h5> <p>Google Club ISIGK</p>">
          <img src="assets/img/work/img53.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Ideation Hackathon Participation</h5>
            <p>Google Club ISIGK</p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/img55.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Inside Entrepreneurship Hackathon Participation</h5> <p>JCI Hammam Sousse</p>">
          <img src="assets/img/work/img55.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Inside Entrepreneurship Hackathon Participation</h5>
            <p>JCI Hammam Sousse</p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/img055.jpg" data-fancybox data-caption="<h5 class='fg-theme'>ZOOMER Project Participation</h5> <p>Local Democracy Agency Tunisia</p>">
          <img src="assets/img/work/img055.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">ZOOMER Project Participation</h5>
            <p>Local Democracy Agency Tunisia</p>
          </div>
        </div>
      </div>



      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/img503.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Solve Project Participation</h5> <p>FACE Tunisie</p>">
          <img src="assets/img/work/img503.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Solve Project Participation</h5>
            <p>FACE Tunisie</p>
          </div>
        </div>
      </div>




      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/img5555.jpg" data-fancybox data-caption="<h5 class='fg-theme'>We Chabeb Project Participation</h5> <p>Local Democracy Agency Tunisia</p>">
          <img src="assets/img/work/img5555.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">We Chabeb Project Participation</h5>
            <p>Local Democracy Agency Tunisia</p>
          </div>
        </div>
      </div>
      
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/img4.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Public Speaking Training Participation</h5> <p>CFCC TRAINER SCHOOL</p>">
          <img src="assets/img/work/img4.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Public Speaking Training Participation</h5>
            <p>CFCC TRAINER SCHOOL</p>
          </div>
        </div>
      </div>
      
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/FirstAid.jpg" data-fancybox data-caption="<h5 class='fg-theme'>National Certificate in First Aid</h5> <p>Civil Protection of Tunisia</p>">
          <img src="assets/img/work/FirstAid.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">National Certificate in First Aid</h5>
            <p>Civil Protection of Tunisia</p>
          </div>
        </div>
      </div>
      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/Certificate of competency for volunteer work in civil protection.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Certificate of competency for volunteer work in civil protection</h5> <p>Civil Protection of Tunisia</p>">
          <img src="assets/img/work/Certificate of competency for volunteer work in civil protection.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Certificate of competency for volunteer work in civil protection</h5>
            <p>Civil Protection of Tunisia</p>
          </div>
        </div>
      </div>

      <div class="grid-item graphic ui-ux wow zoomIn">
        <div class="img-place" data-src="assets/img/work/HPLIFE.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Circular Economy</h5> <p>HP LIFE </p>">
          <img src="assets/img/work/HPLIFE.jpg" alt="">
          <div class="img-caption">
            <h5 class="fg-theme">Circular Economy</h5>
            <p>HP LIFE</p>
          </div>
        </div>
      </div>

    </div> <!-- End gridder -->
    <div class="gridder0">  
    <div class="text-center mt-3">
      <button id="loadMore" class="btn btn-theme-outline">Load More</button>
    </div>
  </div>
  </div>


    
<!-- Client -->
<div class="vg-page page-client">
  <div class="container">
    <div class="gridder0"> 
    <h1 class="text-center fw-normal wow fadeInUp"> Organisations i was part of  </h1>
  </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3 item text-center">
        <div class="img-place wow fadeInUp">
          <img src="assets/img/logo/ATIA.png" alt="ATIA Logo">
        </div>
        <div class="wow fadeInUp">
          <p class="mt-4 fw-semibold text-light">
            Tunisian Association for<br> Artificial Intelligence
          </p>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 item text-center">
        <div class="img-place wow fadeInUp">
          <img src="assets/img/logo/ADL.png" alt="">
        </div>
        <div class="wow fadeInUp">
          <p class="mt-4 fw-semibold text-light">
            Tunisian Local <br> Democracy Agency
         </p>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 item text-center">
        <div class="img-place wow fadeInUp">
          <img src="assets/img/logo/CHANGERS.png" alt="">
        </div>
        <div class="wow fadeInUp">
          <p class="mt-4 fw-semibold text-light">
            The Changers
         </p>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 item text-center">
        <div class="img-place wow fadeInUp">
          <img src="assets/img/logo/CLIGG.png" alt="">
        </div>
        <div class="wow fadeInUp">
          <p class="mt-4 fw-semibold text-light">
            International Development Center For The Innovative Local Governance
         </p>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3 item text-center">
        <div class="img-place wow fadeInUp">
          <img src="assets/img/logo/MICRO.png" alt="">
        </div>
        <div class="wow fadeInUp">
          <p class="mt-4 fw-semibold text-light">
            Microsoft Club ISAMM
         </p>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 item text-center">
        <div class="img-place wow fadeInUp">
          <img src="assets/img/logo/ATAST.png" alt="">
        </div>
        <div class="wow fadeInUp">
          <p class="mt-4 fw-semibold text-light">
            ATAST
         </p>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 item text-center">
        <div class="img-place wow fadeInUp">
          <img src="assets/img/logo/MENTOR.png" alt="">
        </div>
        <div class="wow fadeInUp">
          <p class="mt-4 fw-semibold text-light">
            MentorNations
         </p>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 item text-center">
        <div class="img-place wow fadeInUp">
          <img src="assets/img/logo/a.png" alt="">
        </div>
        <div class="wow fadeInUp">
          <p class="mt-4 fw-semibold text-light">
            Google Club ISIGK
         </p>
      </div>
      </div>
    </div>
  </div>
</div>  <!-- End client -->











</div> <!-- End Portfolio page -->
